<a href="#" class="flex items-start" aria-current="step">
  <span class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center" aria-hidden="true">
    <span class="absolute h-4 w-4 rounded-full bg-indigo-200"></span>
    <span class="relative block w-2 h-2 bg-indigo-600 rounded-full"></span>
  </span>
</a>